/* CSS Document */

body {
	font-family: 'Poppins', sans-serif;
	border-top: 2px solid #e44cc4;
}

.seprator {
	margin: 15px 0px;
}


.border_seprator {
	border-bottom: 1px solid #e44cc4;
	padding: 10px 0px;
}

